<p>Congratulations, <%= @officer.name %>!</p>

<p>To get your account set up, please visit <a>http://localhost:3000/officers</a>
and sign in from the sign-in link in the top right. Your initial password will
be <%= @temp_password %>, but you should probably change this password soon!</p>
