<% unless notice.nil? || notice == '' %>
  <div id="notice" class="no_ul"><%= notice %></div>
<% end %>

<%= render :partial => 'show_event',
           :locals => { :event => @event, :summarize => false } %>

<%= link_to 'Back', events_path %>