#officer_sign_in {
  position:absolute;
  top:20px;
  right:30px;
}

#sign_in_form {
  width:100%;
}

div#email_field, div#password_field {
  width:49%;
}

div#password_field {
  top:0;
  right:0;
  position:absolute;
}

img {
  display:block;
}