a, a:visited, a:hover, a:active {
  color:#A00;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
  background-color:inherit;
}

a.admin {
  color:#888;
}

a.admin:hover {
  color:#000;
}

h1 {
  color:#000;
}

ul, li {
  list-style-type:disc;
}

div {
  /* z-index needs this to work correctly */
  position:relative;
}

body {
  background-image:url('starry.jpg');
  padding-bottom:50px;
}

/* center everything */
div#header-container, div#nav-container, div#content-container {
  margin-left:auto;
  margin-right:auto;
}

div#header-container {
  width:100%;
}

div#content-container, div#nav-container {
  width:70%;
}

div#content-container {
  margin-top:-1px;
}

div#header {
  padding:20px;
  text-align:center;
  z-index:0;
}

div#header a {
  color:#DDD;
  font-size:35px;
  font-weight:bold;
}

div#header a:hover {
  text-decoration:none;
}

div#nav {
  width:100%;
  height:38px;
}

div#nav ul {
  list-style:none;
  padding:0;
  margin:0;
}

div#nav li {
  margin:0;
  margin-top:10px;
  margin-right:5px;
  display:inline-block;
}

div#nav li a {
  color:#AAA;
  font-size:14px;
  padding:10px 1em;
  transition: background-color 250ms, color 250ms, box-shadow 250ms, transform 250ms;
  -moz-transition: background-color 250ms, color 250ms, box-shadow 250ms, -moz-transform 250ms; /* Firefox 4 */
  -webkit-transition: background-color 250ms, color 250ms, box-shadow 250ms, -webkit-transform 250ms; /* Safari and Chrome */
  -o-transition: background-color 250ms, color 250ms, box-shadow 250ms, -o-transform 250ms; /* Opera */
  padding-bottom:14px;
  border-top-left-radius:5px 5px;
  border-top-right-radius:5px 5px;

}

div#nav li a:hover {
  background-color:#FFF;
  color:#000;
  text-decoration:none;
  box-shadow:inset 0px -9px 50px #CCC;
}

div#nav li#selected a, div#nav li#selected a:hover {
  transition: background-color 0, color 0, box-shadow 0, transform 0;
  -moz-transition: background-color 0, color 0, box-shadow 0, -moz-transform 0; /* Firefox 4 */
  -webkit-transition: background-color 0, color 0, box-shadow 0, -webkit-transform 0; /* Safari and Chrome */
  -o-transition: background-color 0, color 0, box-shadow 0, -o-transform 0; /* Opera */
  background-color:#FFF;
  color:#000;
  box-shadow:none;
}

div#content {
  padding:30px;
  padding-top:5px;
  background-color:#FFF;
  border-radius:5px 5px;
  z-index:9;
}

div#error_explanation_container {
  width:100%;
}

div#error_explanation {
  background-color:#A00;
  border:none;
  border-radius:5px;
  color:#FFF;
  padding:15px;
  width:auto;
}

div#error_explanation h2 {
  background-color:transparent;
}

div#error_explanation ul {
  margin:0;
}

div#error_explanation ul, div#error_explanation ul li {
  list-style-type:disc;
}

div.field_with_errors {
  width:100%;
  background-color:inherit;
  padding:0px;
}

div.field_with_errors, div.field_with_errors input {
  color:#F00;
}