$foreground-color:#FFF;

@import "sitewide_partials";

img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  
  @include rounded;
}

a, a:visited, a:hover, a:active {
  color:#A00;
}

a {
  text-decoration:none;
  &:hover {
    text-decoration:underline;
    background-color:inherit;
  }
}

.admin, a.admin {
  color:#888;
}

a.admin:hover {
  color:#000;
}

h1 {
  color:#000;
  margin-top:0;
}

hr {
  margin-bottom:20px;
}

ul, li {
  list-style-type:disc;
}

div {
  /* z-index needs this to work correctly */
  position:relative;
}

body {
  background-image:url('starry.jpg');
  padding-bottom:50px;
}

/* center everything */
div#header-container, div#nav-container, div#content-container {
  margin-left:auto;
  margin-right:auto;
}

div#header-container {
  width:100%;
  
  div#header {
    padding:20px;
    text-align:center;
    z-index:0;
    
    a {
      color:#DDD;
      font-size:35px;
      font-weight:bold;
    }
  }
}

div#content-container, div#nav-container {
  width:70%;
}

div#content-container {
  margin-top:-1px;
}

div#header a:hover {
  text-decoration:none;
}

div#nav {
  width:100%;
  height:38px;
  
  ul {
    list-style:none;
    padding:0;
    margin:0;
    
    li {
      margin:0;
      margin-top:10px;
      margin-right:5px;
      display:inline-block;
      
      a {
        @include transitions(250ms);
        
        color:#AAA;
        font-size:14px;
        padding:10px 1em;
        
        padding-bottom:18px;
        @include rounded;
        
        &:hover {
          background-color:#FFF;
          color:#000;
          text-decoration:none;
          box-shadow:inset 0px -9px 50px #CCC;
        }
      }
      
      &#selected a {
        background-color:$foreground-color;
        color:#000;
        box-shadow:none;
      }
    }
  }
}

div#content {
  padding:30px;
  background-color:$foreground-color;
  z-index:9;
  @include rounded;
}

div#error_explanation_container, div#notice_container {
  width:100%;
}

div#error_explanation, div#notice {
  border:none;
  @include rounded;
  color:#FFF;
  width:auto;
  padding:15px;
}

div#notice {
  background-color:#0A0;
  /* notices usually don't have lists buffing them up vertically */
  padding:10px 15px;
  margin-top:-7px;
}

div#error_explanation {
  background-color:#A00;
  
  h2 {
    background-color:transparent;
  }
  
  ul {
    margin:0;
    
    li {
      list-style-type:disc;
    }
  }
}

div.field_with_errors {
  width:100%;
  background-color:inherit;
  padding:0px;
}

div.field_with_errors, div.field_with_errors input {
  color:#F00;
}